ul {
  list-style: none;
}

span {
  font-weight: bolder;
}

/* NavBar */
.navbar {
  background-color: black;
  padding: 14px 0;
}

.overlook-logo {
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
}

.navbar-link {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  margin: 0 14px;
}

.navbar-link:hover {
  border-bottom: 3px solid rgb(0, 81, 255);
}

/* Home Page */
.c-item {
  height: 91vh;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}

/* Rooms Page */
.rooms-page {
  height: 91vh;
  max-height: 91vh;
  display: flex;
  justify-content: space-between;
}

.rooms-sub-container {
  width: 55%;
  padding: 28px;
  overflow-y: auto;
  max-height: 91vh;
}

.results-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: -8px 0 -20px;
}

.book-room-form {
  margin-top: 10px;
}

.date-input {
  padding: 0 5px;
  border-radius: 10px;
  border: 1px solid gray;
  height: 35px;
}

.room-type-input {
  border-radius: 10px;
  height: 35px;
}

.book-form-btn {
  border: none;
  color: #fff;
  background-color: #0060b4;
  height: 35px;
  padding: 0 15px;
  border-radius: 10px;
  transition: all ease-in-out 0.2s;
}

.book-form-btn:hover {
  background-color: #0088ff;
}

.sort-btn-container {
  text-align: end;
  margin-bottom: 10px;
}

.room-sort-btn {
  border-radius: 10px;
  height: 35px;
}

.showing-text {
  font-weight: 400;
  color: #0000008f;
  font-size: 16px;
  margin-bottom: -5px;
}

.room-results {
  font-weight: 700;
  font-size: 20px;
}

.rooms-heading {
  font-size: 32px;
  text-align: center;
}

.room-card {
  display: flex;
}

.room-card-img {
  width: 45%;
  border-radius: 10px;
}

.room-text-content {
  width: 100%;
  margin: 10px 0 0 17px;
  padding: 0 15px;
}

.card-cost-container {
  display: flex;
  justify-content: space-between;
}

.cost-text {
  margin-bottom: 30px;
}

.cost-span {
  font-size: 28px;
}

.room-number {
  margin-top: 5px;
  background-color: #0274d818;
  color: #0088ff;
  border-radius: 5px;
  height: 100%;
  padding: 0 5px;
}

.room-info {
  color: #000000a2;
  font-size: 14px;
  line-height: 1.2;
}

.extra-features {
  display: flex;
  justify-content: space-between;
}

.book-room-btn {
  border: none;
  color: #fff;
  background-color: #0060b4;
  border-radius: 5px;
  font-size: 19px;
  font-weight: 600;
  padding: 2px 8px;
  width: 100%;
  transition: all ease-in-out 0.2s;
}

.book-room-btn:hover {
  /* background-color: #0088ff; */
}

.active-book-room-btn {
  background-color: green;
}

.active-book-room-btn:hover {
  background-color: green;
}

.map-container {
  background-color: rgb(36, 91, 36);
  width: 45%;
}

/* Account Page */
.account-heading {
  text-align: center;
  margin-top: 8vh;
}

.spending-container {
  width: 80%;
  margin: 8vh auto 0;
  text-align: center;
}

.card {
  padding: 12px;
}

.bookings-section {
  width: 80%;
  margin: 8vh auto 0;
}

.btn-container {
  width: 40%;
  margin: 8vh auto;
  display: flex;
  justify-content: space-around;
}

.btn-container button {
  width: 125px;
  padding: 10px 0;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  background-color: #cecece;
  transition: all ease-in-out 0.3s;
}

.btn-container button:hover {
  background: rgb(0, 81, 255);
  color: #fff;
}

.active-bookings-btn {
  background-color: rgb(0, 81, 255) !important;
  color: #fff;
}

.bookings-card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.bookings-card {
  border: 1px solid gray;
  padding: 12px;
  width: 300px;
  border-radius: 8px;
  margin: 15px 5px;
}

/* Login Form Section */
.login-page {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.img-side {
  width: 60vw;
  background: linear-gradient(rgba(0, 174, 255, 0.753), rgba(0, 174, 255, 0.72)),
    url("https://images.unsplash.com/photo-1576203866193-8b858e07d4bf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80")
      no-repeat center center/cover;
  color: #fff;
  padding: 10px;
}

.logo,
.login-main-header,
.login-text {
  margin: 40px 0 0 40px;
}

.login-main-header {
  margin-top: 25%;
  font-size: 3.5em;
}

.login-text {
  width: 60%;
  padding: 8px;
  font-size: 18px;
}

.form-side {
  width: 40vw;
  text-align: center;
}

.form-side .form-header {
  margin: 40% 0 8%;
  font-size: 2.3rem;
}

.form-side .form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  padding: 10px;
}

.form input {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.form-side .form-btn {
  background: #0275d8;
  color: #fff;
  font-size: 24px;
  padding: 6px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
}

.form-error-message {
  text-align: start;
  padding: 5px 10px;
  background: #ff8888;
  color: rgb(78, 25, 25);
  border-radius: 2px;
}

/* Hide */
.hidden {
  display: none;
}

/* Active Link */
.active-link {
  border-bottom: 3px solid rgb(0, 81, 255);
}



